{% if user.is_authenticated %}

<div class="dropdown mr-1">
    <button type="button" id="dmo" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="far fa-user"></i> &nbsp;&nbsp;{{ user.username }}</button>
  	</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
      <a class="dropdown-item" href="profile"><i class="far fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile</a>
    	<div class="dropdown-divider"></div>
    		<a class="dropdown-item" href="logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
  		</div>
    </div>
  </div>

{% else %}

<button type="button" onclick="window.location.href='/login'" class="btn btn-dark nav-item">Login</button>

{% endif %}